{% extends 'base.html.twig' %}

{% block title %}Edit LibroNoRelacional{% endblock %}

{% block body %}
    <h1>Edit LibroNoRelacional</h1>

    {{ include('libro_no_relacional/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_libro_no_relacional_index') }}">back to list</a>

    {{ include('libro_no_relacional/_delete_form.html.twig') }}
{% endblock %}
