{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1 class="h3 mb-3">Bienvenido al Panel de Administración</h1>
    <p>Utiliza la barra lateral para acceder y gestionar Libros, Autores y Editores.</p>
{% endblock %}
