{% extends 'base.html.twig' %}

{% block title %}Edit Libro{% endblock %}

{% block body %}
    <h1>Editar Libro</h1>

    {{ include('libro/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_popup_index') }}">Volver</a>

{% endblock %}
